img {
	width: 100px;
	position: absolute;
	top: 100px;
	left: 100px;
	
}
#coin{
	width: 50px;
}
.dashboard{
	display:inline-block;
	width: 200px;
	height: 50px;
	font-size: 40px;
	padding: 10px;
	margin: 30px;
	color: black;
	border: 2px solid black;
};
body{

	color: white;
	background-image: url(images.jpeg);

}
